
/*body {
  background-color: #e8e8e8;
}*/


/* Main
.main{
  background-color: #fff;
}*/

/* Sidebar navigation */
.sidebar{
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.nav-sidebar {
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #f5f5f5;
  background-color: #428bca;
}
nav h4{
   padding-right: 20px;
   padding-left: 20px;
}



