/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  /* Set the fixed height of the footer here */
}
.hidden-footer{
  visibility: hidden;
}
  